

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding: 0 1rem ;
}

.nav-menu {
  position:fixed;
  left: -120%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: violet;
  width: 100%;
  text-align: center;
}

.nav-menu.active{
  left: 0;
}

.hamburger {
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: blue;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}



@media screen and (min-width: 992px) {
  .nav-menu {
    position: static;
    left: 0;
    top: 0;
    gap: 5rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: auto;
    text-align: center;

  }

  .hamburger {
    display: none;
  }
  
}